{{> menu active="dashboard"}}

<section class="section">
  {{> list-spots}}
  <div class="columns">
    <div class="column is-5">
  {{> spot-analytics}}
  </div>
  <div class="column is-7">
  {{> search-spots}}
  </div>
  </div>
  {{> add-spot}}
</section>
