{{> welcome-menu}}

<section class="box">
  <div class="columns is-full has-background-success-light">
    <div class="column is-1"></div>
    <div class="column is-4 has-text-centered">
      <br>
      <div class="box">
        <h1 class = "title">Welcome to SpotHop!</h1>
        <p> 
          Please login or signup to continue.
        </p>
      </div>
      <div class="box">
        <div class="column">
          <img src="/images/spotHop_init2.jpg">
        </div>
      </div>
    </div>
    <div class="column is-6">
      <br>
      <div class="box">
        <div class="column">
          <img src="/images/spotHop_init.jpg">
        </div>
      </div>
      <div class="box has-text-centered">
        <p> 
          Created by Caoimhín Arnott for SETU's Full Stack Development I module
        </p>
      </div>
    </div>
  </div>
</section>