<nav class="navbar">
  <div class="navbar-brand">
    {{> spothop-brand}}
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="dashboard" class="button" href="/dashboard"> Dashboard </a>
          <a id="account" class="button" href="/accountDetailsIndex">Account</a>
          <a id="about" class="button" href="/about"> About </a>
          <a id="logout" class="button is-warning" href="/logout"> Logout </a>
        </div>
      </div>
    </div>
  </div>
</nav>
